*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.background{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.card{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    background-color: #F2C9E1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: #fff;            
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
   border-radius: 10px;
   display: block;
   border-style: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.inner1{
    display: flex;
    text-align: center;

}
h1{
    font-size: 72px;
    background: -webkit-linear-gradient(#5FC3E4, #E55D87);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .inner2{
    display: flex;
    justify-content: center;

}